.DS_Store
.editorconfig
.eslintignore
.eslintrc.config.js
.eslintrc.js
.eslintrc.json
.github
.gitignore
.idea
.nvmrc
.prettierignore
.prettierrc
.vscode
.yarn
.yarnrc.yml
ARCHITECTURE.md
circle.yml
CONTRIBUTING.md
dist/test
example
node_modules
npm-debug.log
package-lock.json
test
tsconfig.json
yarn-error.log
yarn.lock

*.map
