{
  "bracketSpacing": false,
  "endOfLine": "lf",
  "parser": "typescript",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "arrowParens": "avoid"
}
